/* Global styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.8;
  color: #444;
  padding: 20px;
  max-width: 1500px; /* Keeping the original max-width */
  height: 100%;
  margin: 0 auto;
}

/* Center the container */
.container {
  text-align: center;
  margin: auto;
}

/* About section styles */
.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%; /* Adjust the width as needed */
  max-width: 800px;
}

.about-section h1{
  font-size: 2em;
  margin-bottom: 1rem;
}
 
 
 /* Responsive styles (optional) */
@media (max-width: 1000px) {
  .about-section {
    width: 90%;
  }
}
b {
  font-weight: bold;
  color: #000;
  background: linear-gradient(45deg, #ff4500, #ffa500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 10s linear infinite;
}
i {
  font-style: italic;
  color: #555; /* Lighter gray color */
  background: none; /* Remove gradient background */
  font-weight: normal; /* Ensure normal weight */
}
h1.fire {
  font-weight: bold;
  color: #000;
  background: linear-gradient(45deg, #ff4500, #ffa500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 10s linear infinite;
}
